#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define JUS           LS(0x87)              // _

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };

        lock {
            bindings = <&kp LG(L)>;
            key-positions = <53 54>;
        };

        kpUnderScore {
            bindings = <&kp INT1>;
            key-positions = <38 51>;
        };

        to-mouse {
            bindings = <&tog 1>;
            key-positions = <34 37>;
        };

        AltF4 {
            bindings = <&kp LA(F4)>;
            key-positions = <17 16>;
        };

        CmdW {
            bindings = <&kp LG(W)>;
            key-positions = <28 27 26>;
        };

        CmdQ {
            bindings = <&kp LG(Q)>;
            key-positions = <12 13>;
        };

        kk1l {
            bindings = <&kp LS(N8)>;
            key-positions = <33 35>;
        };

        kk1r {
            bindings = <&kp LS(N9)>;
            key-positions = <47 49>;
        };

        kk2l {
            bindings = <&kp LS(RBKT)>;
            key-positions = <33 34>;
        };

        kk2r {
            bindings = <&kp LS(BACKSLASH)>;
            key-positions = <47 48>;
        };

        kk3l {
            bindings = <&kp RBKT>;
            key-positions = <35 34>;
        };

        kk3r {
            bindings = <&kp BACKSLASH>;
            key-positions = <49 48>;
        };

        sq {
            bindings = <&kp LS(N7)>;
            key-positions = <19 33>;
        };

        dq {
            bindings = <&kp LS(N2)>;
            key-positions = <34 20>;
        };

        F13 {
            bindings = <&kp F13>;
            key-positions = <19 20>;
        };

        F14 {
            bindings = <&kp F14>;
            key-positions = <19 21>;
        };

        F15 {
            bindings = <&kp F15>;
            key-positions = <20 21>;
        };

        F16 {
            bindings = <&kp F16>;
            key-positions = <19 20 21>;
        };
    };

    behaviors {
        tap_dance_mouse: tap_dance_mouse {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_MOUSE";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&to 1>;
        };

        up_uscore: up_uscore {
            compatible = "zmk,behavior-mod-morph";
            label = "UP_USCORE";
            #binding-cells = <0>;
            bindings = <&kp UP>, <&kp JUS>;

            // 左シフト(MOD_LSFT)のみを対象に設定

            mods = <(MOD_LSFT)>;
        };

        up_morph_shift: up_morph_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "UP_MORPH_SHIFT";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>; // 長押し判定の時間（お好みで調整）
            bindings = <&kp>, <&up_uscore>;

            // ホールドで&kp、タップでup_uscore
        };
    };

    macros {
        kp1: kp1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBKT &kp C &kp U &kp E &kp INT1 &kp H &kp A &kp K &kp U &kp M &kp A &kp I>;
            label = "KP1";
        };

        kp2: kp2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(K) &kp A &kp Y &kp O &kp T &kp I &kp N>;
            label = "KP2";
        };

        en: en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG2 &to 7>;
            label = "EN";
        };

        ja: ja {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG1 &to 0>;
            label = "JA";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC    &kp N1     &kp N2        &kp N3        &kp N4   &kp N5                                     &kp N6       &kp N7  &kp N8     &kp N9    &kp N0          &none
&kp TAB    &kp Q      &kp W         &kp E         &kp R    &kp T                                      &kp Y        &kp U   &kp I      &kp O     &kp P           &tap_dance_mouse
&kp LCTRL  &kp A      &kp S         &kp D         &lt 4 F  &kp G        &mkp LCLK    &mkp RCLK        &kp H        &kp J   &kp K      &kp L     &mt RCTRL SEMI  &mt RCTRL SINGLE_QUOTE
&kp LSHFT  &kp Z      &kp X         &kp C         &kp V    &kp B        &kp ESCAPE   &kp B            &kp N        &kp M   &kp COMMA  &kp DOT   &mt RSHFT FSLH  &up_morph_shift RSHFT 0
&mkp LCLK  &mkp RCLK  &kp LEFT_ALT  &kp LEFT_GUI  &en      &lt 6 SPACE  &lt 3 LANG1  &lt 4 BACKSPACE  &lt 5 ENTER  &none   &none      &kp LEFT  &kp DOWN        &kp RIGHT
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans                  &trans    &trans           &trans     &trans           &trans         &trans
&trans  &trans  &trans     &trans     &trans     &trans                  &mkp MB4  &msc SCRL_LEFT   &kp PG_UP  &msc SCRL_RIGHT  &kp LS(LG(T))  &to 0
&trans  &trans  &mkp MCLK  &mkp RCLK  &mkp LCLK  &trans  &trans  &trans  &mo 4     &mkp LCLK        &mkp RCLK  &mkp MCLK        &kp LG(W)      &tog 1
&trans  &trans  &trans     &trans     &trans     &trans  &trans  &trans  &mkp MB5  &kp LS(LC(TAB))  &kp PG_DN  &kp LC(TAB)      &trans         &trans
&trans  &trans  &trans     &trans     &trans     &trans  &trans  &trans  &trans    &trans           &trans     &trans           &trans         &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans      &trans      &trans      &trans      &trans                      &trans          &trans         &trans            &trans             &trans         &trans
&trans  &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)                  &kp LS(N6)      &kp LS(N7)     &kp LS(N8)        &kp LS(N9)         &kp LS(N0)     &trans
&trans  &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &trans  &trans  &kp LEFT_BRACE  &kp MINUS      &kp EQUAL         &kp RIGHT_BRACE    &kp COLON      &trans
&trans  &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &trans  &trans  &kp LS(MINUS)   &kp LS(EQUAL)  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH  &trans
&trans  &trans      &trans      &trans      &trans      &trans      &trans  &trans  &kp TAB         &kp DEL        &trans            &trans             &trans         &trans
            >;
        };

        layer_3 {
            bindings = <
&trans        &trans        &trans        &trans        &trans        &trans                          &trans            &trans     &trans         &trans     &trans      &trans
&trans        &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                          &kp HOME          &kp PG_UP  &kp PAGE_DOWN  &kp END    &kp ESCAPE  &trans
&trans        &kp F6        &kp F7        &kp F8        &kp F9        &kp F10     &trans      &trans  &kp LEFT          &kp DOWN   &kp UP_ARROW   &kp RIGHT  &kp TAB     &trans
&bt BT_SEL 4  &kp F11       &kp F12       &out OUT_USB  &out OUT_BLE  &bt BT_NXT  &bt BT_CLR  &trans  &kp SINGLE_QUOTE  &kp DQT    &kp GRAVE      &kp TILDE  &kp PIPE    &trans
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &kp DELETE    &kp TAB     &trans      &trans  &trans            &trans     &trans         &trans     &trans      &trans
            >;
        };

        Yello {
            bindings = <
&trans  &trans    &trans    &trans    &trans  &trans                  &trans  &trans  &trans  &trans     &trans        &trans
&trans  &trans    &trans    &trans    &trans  &trans                  &kp2    &kp N7  &kp N8  &kp N9     &kp RBKT      &kp BACKSLASH
&trans  &mkp MB3  &mkp MB2  &mkp MB1  &trans  &trans  &trans  &trans  &trans  &kp N4  &kp N5  &kp N6     &kp RS(RBKT)  &kp RS(BACKSLASH)
&trans  &trans    &trans    &trans    &trans  &trans  &trans  &tog 4  &kp N0  &kp N1  &kp N2  &kp N3     &kp RS(N8)    &kp RS(N9)
&trans  &trans    &trans    &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp KP_DOT &trans        &trans
            >;
        };

        Blue {
            bindings = <
&trans          &trans          &trans  &trans  &trans   &trans                                    &trans    &trans    &trans     &trans           &trans     &trans
&trans          &kp F1          &kp F2  &kp F3  &kp F4   &kp F5                                    &kp HOME  &kp HOME  &kp PG_UP  &trans           &trans     &tog 1
&kp LCTRL       &kp F6          &kp F7  &kp F8  &kp F9   &kp F10       &trans       &trans         &kp LEFT  &kp DOWN  &kp UP     &kp RIGHT        &kp MINUS  &kp RCTRL
&kp LSHFT       &trans          &trans  &trans  &kp F11  &kp F12       &kp SPACE    &kp ENTER      &kp END   &kp END   &kp PG_DN  &trans           &trans     &kp RSHIFT
&kp LANGUAGE_1  &kp LANGUAGE_2  &trans  &trans  &trans   &kp LS(HOME)  &kp LS(END)  &kp BACKSPACE  &trans    &trans    &trans     &kp LS(LC(DEL))  &trans     &kp DEL
            >;
        };

        Green {
            bindings = <
&none      &none       &none       &none          &none       &none                     &none       &none       &none       &none          &none         &none
&kp GRAVE  &kp N1      &kp N2      &kp N3         &kp N4      &kp N5                    &kp N6      &kp N7      &kp N8      &kp N9         &kp N0        &kp LBKT
&kp LCTRL  &kp LS(N1)  &kp LS(N2)  &kp LS(N3)     &kp LS(N4)  &kp LS(N5)  &none  &none  &kp LS(N6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)     &kp LS(RBKT)  &kp LS(BACKSLASH)
&kp LSHFT  &kp EXCL    &none       &kp LS(TILDE)  &kp EQUAL   &none       &none  &none  &none       &kp LBKT    &kp RBKT    &kp BACKSLASH  &kp INT1      &kp INT3
&none      &none       &none       &none          &none       &none       &none  &none  &none       &none       &none       &none          &kp JUS       &kp LS(INT3)
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &ja     &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_8 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans     &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans     &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp LCLK  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans  &trans  &trans  &trans
            >;
        };
    };
};
